@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Open+Sans:ital,wght@1,500&display=swap');


*{
 box-sizing: border-box;
 
}
body{
    background-color:gray;
    display: flex;
    flex-direction: column;
    color:white ;
    align-items: center;
    justify-content: center;
    height:100vh ;
    font-family:'Lato', sans-serif ;
    margin: 0;
}

.Movie-container{

    margin:20px 0 ;
}
.Movie-container select{
    background-color: grey;
    border: 0;
    border-radius:5px ;
    font-size:14px ;
    margin-left: 10px ;
    padding:10px 4px 10px 4px ;
    appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
}
.Seat {
    background-color:white;
     height: 13px ;
    width: 15px;
    margin: 3px ; 
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;

}
.Seat.selected {
 background-color:blue ;
}
.Seat.occupied{
    background-color:palegreen ;
}

.Seat:nth-of-type(2){
    margin-right:20px ;
}
.Seat:nth-last-of-type(2){
    margin-left:20px ;
}
.Seat:not(.occupied):hover{
    cursor:pointer ;
    transform:scale(1.2) ;

} 
.legend .Seat:not(.occupied):hover{
    cursor:default ;
    transform:scale(1);
}
.legend{
    background-color:rgba(0, 0, 0, 0.1) ;
    padding: 10px 5px;
    border-radius:5px ;
    color:lightgray ;
    list-style-type:none ;
    display: flex  ;
    justify-content: space-between;
}
.legend li{
 display: flex;
 justify-content:center ;
 align-items:center ;
 margin:0 10px ;
}
.legend li small{
    margin-left:2px ;
}
.container{
    perspective:1700px ;
    margin-bottom:30px   ;
}

.row{
    display: flex  ;
}
.screen{
    background-color:white ;
    height: 70px; 
    width:100% ;
    margin: 15px 0; 
    transform: rotateX('-45deg');
    box-shadow:0 3px 10px rgba(255,255,255,0.7) ;
}
p.text{
    margin: 5px 0;
}
p.text span{
    color: aqua;
}